body {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    max-height: 10vh;
}

a {
    text-decoration: none;
    color: #FF9F1C;
}

a:hover {
    text-decoration: none;
    color: white;
}